.header-nav{
    background:#e7e7e7;
    border:0;
    border-radius: 0;
    }
   .navbar-default .navbar-brand.brand-name {
      color:#777;
      font-size:15px;
      margin-left: 20px;
     }
     .navbar-default .navbar-brand.brand-name:hover
     {
         color:#333;
     }
     
     .navbar-default .navbar-nav>li>a{
         color:#777;
     }
     .navbar-default .navbar-nav>li>a:hover{
         color:#333;
     }
     .main-header{
         position:fixed;
     }
     .banner{
    
    background: url('img/intro-bg.jpg');
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size:cover;
    }
    .container
    {
 
    padding-top: 30px;
    padding-bottom:30px;
    }
    .container h1{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    font-family:Arial;
    }
    .container h3{
        font-family:Arial;
        font-size: 24px;
        text-shadow:2px 2px 3px rgba(0,0,0,0.6);
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 650;
    }
    .divider
    {
        width:400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0,0,0,0.2)
    }
    
    .km-btn {
       font-size:18px;
       font-weight: 100;
       background:#fff;;
       padding:10px;
       letter-spacing:2px;
       color:black;
       padding: 10px 16px;
       line-height: 1.3333333;
       border-radius: 6px;
       margin-bottom: 10px;
       text-transform: uppercase;
      }
      .section{
         background-size:cover;
         width:100%;
  
         background:#f8f8f8;
         
      }
      .box1{
          width: 40%;
          margin-left:80px;
          padding: 50px;
          
        }
        .box1 h2{
                margin-bottom: 30px;
                font-size: 30px;
                font-family: Airal;
        }
        .box1 p
        {
                margin: 0 0 10px;
                margin-bottom: 20px;
                line-height:1.4;
                font-size: 18px;
                font-weight: 400;
        }
        .box1 a
        {
            text-color:#337ab7;
            background-color:transparent;
            text-decoration: none;
        }
        .box2{
         
          margin-left:20px;
          padding: 50px;
          background: red;
        }
        .section-img{
            width: 100%;
             height:400px;
        }

        
     
