.header-nav{
    background:#e7e7e7;
    border:0;
    border-radius: 0;
    }
   .navbar-default .navbar-brand.brand-name {
    color:#777;
    font-size:15px;
    margin-left: 20px;
     }
   .navbar-default .navbar-nav>li>a{
       font-size: 14px;
       color:#777;
     }
   .navbar-default .navbar-nav>li>a:hover{
    color:#333;
     }
   .main-header{
    position:fixed;
     }
    .banner{
    background: url('img/intro-bg.jpg') no-repeat center center;;
    display: flex;
    align-items: center;
    height:100vh;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size:cover;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
   }
    .btn{
    margin-right: 15px;
      }
    .km-spacer{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left:6px;
    width: 200px;
    border-top: 3px solid #e7e7e7
      }
    .km-img{
    padding-top:40px;
    padding-bottom: 40px;
      }
    .container h1 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    font-family:Arial;
    }
    .container h3{
    font-family:Arial;
    font-size: 24px;
    text-shadow:2px 2px 3px rgba(0,0,0,0.6);
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    }
   .km-font{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
     }
    .km-font1{
    font-family:airal;
    font-weight: 400;
    letter-spacing: 1px;
    font-size:18px;
    }
    .divider{
    width:400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2)
    }
    .box1{
    background:#f8f8f8;
    }
    .section3{
    background: url('img/banner-bg.jpg');  
    width:100%;
    color: #f8f8f8;
    background-size:cover;
    padding:75px;
         }
    .social-btn{
    margin-top: 20px;
         }
    .km-box{
    padding:50px 0;
    background-color: #f8f8f8;
      }
     